// fonts
@font-face
  font-family: Ubuntu
  src: url(../fonts/Ubuntu.ttf)
@font-face
  font-family: Roboto
  src: url(../fonts/Roboto.ttf)
$mainfont: Ubuntu
$titlefont: Roboto
// colors
$boxbg: #DDD
$main: #3A1
$dark: #030
$light: #FFF
$url: #7E0
$codeheight: 30px
// size
$bradius: 4px
$vpwidth: 800px
// reusable
@mixin button
  text-align: center
  text-decoration: none
  transition: .2s ease
  border-radius: $bradius
  text-transform: uppercase
  &:hover
    transform: scale(.9)
@mixin codecomput
  height: $codeheight
  line-height: $codeheight
// style
*
  box-sizing: border-box
  font-family: $mainfont
body
  color: $dark
  margin: 0
p
  line-height: 160%
a
  color: $url
  &:hover
    text-decoration: none
    color: $dark
ol li 
  line-height: 160%
h1
  padding: 20px 0
  margin: 0
  text-align: center
  font-family: $titlefont
  a
    color: $main
    text-decoration: none
    &:hover 
      color: $main
      text-decoration: underline
.menu
  display: block
  padding-left: 0
  height: 50px
  width: 100%
  list-style: none
  background: $main
  margin: 0
  li
    float: left
    margin: 0 10px
    background: $main
  a
    height: 50px
    display: block
    padding: 15px 5px
    text-decoration: none
    &:hover
      background: $light
      color: $main
.box
  max-width: $vpwidth
  border: 1px solid $main
  background: $boxbg
  color: $dark
  padding: 0 20px
  border-radius: 5px
  margin: 15px auto
  *
    max-width: $vpwidth
  a
    color: $main
  h2,h3,h4,h5,h6
    width: 100%
    border-bottom: 2px solid $main
  h3:target
    background: yellow
  .btn
    display: block
    padding: 15px
    background: $main
    color: $light
    margin: 20px auto
    margin-bottom: 0
    width: auto
    @include button
.box:target
  display: block
.code
  background: #CCC
  display: block
  padding: 0
  border: 1px solid $light
  border-radius: $bradius
  counter-reset: line
  overflow-x: scroll
  pre
    counter-increment: line
    height: 20px
    display: block
    margin: 0
    white-space: nowrap
    @include codecomput
    &:before
      display: block
      float: left
      width: 15px
      content: counter(line)
      color: grey
      padding-left: 6px
      margin-right: 6px
      border-right: 1px solid $light
      @include codecomput
  .sudo
    color: $main
  .com
    color: #FFF
  .var
    color: #060
  .fun
    color: #C00
  .ret
    color: #00C
  .npm
    color: #C61
footer
  display: block
  padding: 15px
  text-align: center
  width: 100%
  background: $main
  color: $light
  *
    margin: 0
  a:hover
    color: $light
// dynamic
.hidden, .mobileonly
  display: none
// mobile
@media screen and (max-width:$vpwidth)
  .box
    border: 0
    border-radius: 0
    padding: 10px
    margin: 0
  .menu
    height: auto
    li
      float: initial
      margin: 0
      border-bottom: 1px solid $url
      &:last-child
        border-bottom: 0
      a
        text-align: center
      a:hover
        background: $main
        color: $url
  .nomobile
    display: none
  .mobileonly
    display: initial